{%extends "base.html"%}
{% block title %} Upload {% endblock %}
{% load crispy_forms_tags %}
{% block page_content %}
	<h2>Upload</h2>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<!-- {{ form|crispy }} -->
		<input type="file" name="document" accept="application/pdf">
		<button type="submit">Upload</button>
	</form>
	{% if data %}
		<div>	
			<p>Created by: {{user}}</p>
			<p>Name: {{data.name.value}}</p>
			<p>Dob: {{data.dob.value}}</p>
			<p>Email: {{data.email.value}}</p>
			<p>Phone: {{data.phone.value}}</p>
			<p>CV Link: {{data.link}}</p>
		</div>
	{% endif %}
{% endblock %}